<div class="modal" id="activity-field-modal" aria-modal="true" role="dialog" style="display: none">
    <div class="header">
        <h3>{{ 'Field value'|t('activity') }}</h3>
    </div>
    <div class="body">
        <div class="content">
        </div>
    </div>
    <div class="footer">
        <div class="buttons right">
            <button type="button" class="btn js-switch" data-label="{{ 'Hide source'|t('activity') }}">{{ 'Show source'|t('activity') }}</button>
            <button type="button" class="btn js-close">{{ 'Close'|t('app') }}</button>
        </div>
    </div>
</div>