{% do craft.app.view.registerAssetBundle('Ryssbowh\\Activity\\assets\\UserAssets') %}
{% set logs = craft.activity.logs.getUserLogs(user) %}

{% if logs %}
    <fieldset id="latest-activity">
        <legend class="h6">{{ 'Latest activity'|t('activity') }}</legend>
        <div class="meta">
            {% for log in logs %}
                <p>{{ log.title|raw }}</p>
            {% endfor %}
            <a target="_blank" href="{{ url('activity?filters[users][]=' ~ user.id) }}">{{ 'View all'|t('activity') }}</a>
        </div>
    </fieldset>
{% endif %}