{% import "activity/includes/macros" as macros %}

{% set hasFrom = 'f' in field.data|keys %}
{% set hasTo = 't' in field.data|keys %}
<li>
    {% if hasFrom and hasTo %}
        {{ "Field {field} was changed from {from} to {to}"|t('activity', {
            field: field.data.name,
            from: macros.longTextFromValue(field, data)|spaceless,
            to: macros.longTextToValue(field, data)|spaceless,
        })|raw }}
    {% elseif hasTo %}
        {{ "Field {field} was set to {to}"|t('activity', {
            field: field.data.name,
            to: macros.longTextToValue(field, data)|spaceless,
        })|raw }}
    {% elseif hasFrom %}
        {{ "Field {field} value ({from}) was removed"|t('activity', {
            field: field.data.name,
            from: macros.longTextFromValue(field, data)|spaceless,
        })|raw }}
    {% endif %}
</li>