{% import "activity/includes/macros" as macros %}

{% if log.changedFields ?? false %}
    <ul>
        {% for field in log.changedFields %}
            <li>
                {{ macros.elementField(field) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}