{% if log.changedFields.0.data.added ?? [] %}
    {{ 'Added permissions:'|t('activity') }}
    <ul>
        {% for perm in log.changedFields.0.data.added ?? [] %}
            <li>
                {{ perm }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% if log.changedFields.0.data.removed ?? [] %}
    {{ 'Removed permissions:'|t('activity') }}
    <ul>
        {% for perm in log.changedFields.0.data.removed ?? [] %}
            <li>
                {{ perm }}
            </li>
        {% endfor %}
    </ul>
{% endif %}