{% if log.changedFields %}
    {% set changed = log.changedFields.0.data %}
    <ul>
        <li>
            {{ 'URI parts was changed to {value}'|t('activity', {
                value: changed.uriParts|prettyPrint
            }) }}
        </li>
        <li>
            {{ 'Template was changed to {value}'|t('activity', {
                value: changed.template|prettyPrint
            }) }}
        </li>
        <li>
            {% set siteName = changed.siteName %}
            {% if changed.siteUid %}
                {% set site = craft.app.sites.getSiteByUid(changed.siteUid) %}
                {% if site %}
                    {% set siteName = site.name %}
                {% endif %}
            {% endif %}
            {{ 'Site was changed to {value}'|t('activity', {
                value: siteName
            }) }}
        </li>
    </ul>
{% endif %}