{% import "activity/includes/macros" as macros %}

{% for row in field.data %}
    <li>{{ 'The ' ~ row.row ~ ' row of preview targets was ' ~ row.mode ~ ':' }}
        <ul>
            {% for fieldName, fieldLabel in {label: 'Label', urlFormat: 'Url format', refresh: 'Refresh'} %}
                {% if row[fieldName] ?? false %}
                    <li>
                        {% set hasFrom = 'f' in row[fieldName]|keys %}
                        {% set hasTo = 't' in row[fieldName]|keys %}
                        {% if hasFrom and hasTo %}
                            {{ "{field} was changed from {from} to {to}"|t('activity', {
                                field: fieldLabel,
                                from: macros.rawFromValue(row[fieldName]),
                                to: macros.rawToValue(row[fieldName])
                            })|raw }}
                        {% elseif hasTo %}
                            {{ "{field} was set to {to}"|t('activity', {
                                field: fieldLabel,
                                to: macros.rawToValue(row[fieldName])
                            })|raw }}
                        {% elseif hasFrom %}
                            {{ "{field} value ({from}) was removed"|t('activity', {
                                field: fieldLabel,
                                from: macros.rawFromvalue(row[fieldName])
                            })|raw }}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endfor %}